<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jäger's Portfolio</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/Home.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>

        <main>
            <header>
                <div class="container-big">
                    <div class="row">
                        <div class="col-md-7 title my-auto">
                            <h1 class="header-title">Hello! I'm <span class="header-title-special">Jäger.</span></h1>
                            <p class="header-desc">I specialize in <span class="header-desc-special">Web/Node.js Development</span></p>
                            <p class="about pt-2 mb0 header-desc-2">Hello! I'm a full-stack <span class="special">node.js</span> and a <span class="special">web developer</span>. I develop scalable applications using <span class="special">node.js</span>. I also love to tinker with software and electronics.</p>
                        </div>
                        <div class="col-md-5">
                            <div class="block-image position-relative">
                                <img src="/header.svg" alt="HeaderSVG Undraw.co" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <a href="#projects" class="btn btn-custom">
                            <span class="text">Learn More</span>
                        </a>
                    </div>
                </div>
            </header>
            <section id="projects">
                <div class="container-big">
                    <div class="title">
                        <p>What have I been working on?</p>
                        <h2>Projects</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 my-2 mt-4">
                            <a class="text-no-underline" href="https://github.com/jager-js/website">
                                <div class="card-body border-button" style="background: url(/portfolio.png) no-repeat center center; background-size: cover">View on Github</div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <h2>Jäger</h2>
                    <div class="cog">
                        <a href="https://github.com/jager-js" class="github"><i class="fab fa-github"></i></a>
                        <a href="https://github.com/jager-js" class="discord"><i class="fab fa-discord"></i></a>
                    </div>
                    <div>
                        <a class="email">email.hunter.jager@gmail.com</a>
                    </div>
                </div>
            </footer>
        </main>

        <div class="_Script">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/445d94a70b.js" crossorigin="anonymous"></script>
        </div>

    </body>
</html>